body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4
{margin:0;padding:0;font-style:normal;font:12px;} 
 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:middle;} 
body{color:#000000;background:#FFF;} 
.clear{clear:both;height:1px;width:100%; overflow:hidden; margin-top:-1px;} 
a,a:hover{color:#000000;text-decoration:none !important;} 
a:hover{text-decoration:none !important;}

.clearfixed::after{
    display:block; content:" "; height:0; clear:both; overflow:hidden; visibility:hidden;
}

.error-tip{
    color:red;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    height: 12px;
}


