# Created by .ignore support plugin (cllgeek)
.idea/
*.log
node_modules
node-demo/node_modules/*
angular-demo/node_modules/*
10CreditCardPopular/img/*
AgentManagementBack/img/*
BaiZhongRice/img/*
firstnetwork/img/*
industrialbankactive/img/*
