.etc{
	height: 100vh;
	background:url(../img/etcbanner@2x.png) no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
}

.etc .twocodecontainer{
	width:2.68rem;
	height: 3rem;
	margin:0 auto;
	background:url(../img/etcwhite@2x.png) no-repeat center center;
	background-size:100% 100%;
	margin-top:0.8rem;
}

.etc .codetitle{
	display:flex;
	align-items: center;
	justify-content: space-between;
	transform: translateY(-50%);
	padding:0 0.14rem;
	box-sizing:border-box;
}

.etc .codetitle img{
	width:0.36rem;
}

.etc .codetitle button{
	height: 0.28rem;
	background: rgb(221,90,243);
	border-radius: 0.1rem;
	color: rgb(102,102,102);
	width: 1rem;
	border:none;
	font-size: 0.15rem;
	color:white;
}

.etc .twocode{
	width:1.5rem;
	height:1.5rem;
	margin:0 auto;
	background:white;
	margin-top:0.15rem;
}

.etc .twocode img{
	width:100%;
}

.etc .tips{
	font-size:0.15rem;
	color:rgb(255,120,38);
	text-align: center;
	margin-top:0.3rem;
}
.etc .tips p{
	margin:0;
	line-height:0.26rem;
	letter-spacing: 1px;
}