.selectwelfare .recommendbank-item button{
	height: 0.34rem;
	background: rgb(43,90,243);
	border-radius: 0.1rem;
	color: rgb(102,102,102);
	width: 0.9rem;
	border:none;
	font-size: 0.14rem;
	margin-bottom:0.18rem;
	color:white;
	outline:none;
}

.selectwelfare .recommendbank .recommendbank-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.18rem 0;
	border-bottom: 1px solid rgb(228, 236, 253);
}