.mui-icon-clear{
	display: none !important;
}

.memeberinfo{
	background:white;
	padding:0 0.14rem;
}

.memeberinfo .mui-input-row span{
	color:rgb(17,17,17);
}

.memeberinfo .mui-input-clear{
	border:none;
	margin-bottom:0;
	font-size: 0.14rem;
	padding-left:0.32rem;
	border-radius: none;
	border-radius: 0;
	height:0.5rem;
	width:70%;
}

.memeberinfo .mui-input-row{
	position:relative;
	border-bottom:0.005rem solid #b2b2b2;
	padding-bottom: 2px;
	font-size: 0.14rem;
}

.memeberinfo .mui-input-row:last-child{
	border-bottom:none;
}

.agreement{
	color:rgb(106,106,106);
	font-size: 0.12rem;
	box-sizing: border-box;
	margin-top:0.15rem;
	padding:0 0.1rem;
}

.agreement a{
	color:rgb(81,159,255);
}

.adduser .complete{
	padding:0 0.1rem;
}

.adduser .complete .mui-btn-primary{
	width:100%;
	height: 0.4rem;
	background: rgb(36,131,236);
}

#code{
	position: absolute;
	right: 0;
	top:50%;
	color:rgb(36,131,236);
	transform: translateY(-50%);
}
.adduser .mes{
	font-size:0.12rem;
	color:red;
	background:#fff1f1;
	padding:0.06rem 0.08rem;
}

/*卡小邦2版*/
.supportbank{
	font-size: 0;
	margin-top:0.1rem;
	text-align: right;
	padding:0 0.14rem;
	margin-bottom: 0.3rem;
}
.supportbank a{
	font-size: 0.12rem;
	color:rgb(81,159,255);
}

.checkboxContainer{
	display: inline-block;
	width:0.13rem;
	height: 0.13rem;
	position:relative;
	vertical-align: middle;
}

.checkboxContainer span{
	display: inline-block;
	position: absolute;
	top:0;left:0;right: 0;bottom:0;
	z-index: 2;
}

.checkboxContainer.checkedBg span{
	background:url(../img/checked@2x.png) no-repeat center center;
	background-size:100% 100%;
}

.checkboxContainer.uncheckedBg span{
	background:url(../img/unchecked@2x.png) no-repeat center center;
	background-size:100% 100%;
}


.explain{
	padding:0 0.14rem;
	padding-left:0.27rem;
	font-size: 0.12rem;
	line-height: 0.18rem;
	color:rgb(153,153,153);
}

.showtoastcontainer{
  position: fixed;
  top:0;left:0;bottom:0;right: 0;
  background:rgba(0,0,0,0.7);
  z-index:1000;
  display: flex;
  justify-content: center;
  align-items: center;
	visibility: hidden;
}

.showtoast{
    background: white;
    border-radius: 0.11rem;
    box-sizing: border-box;
    width:3rem;
    padding-bottom: 0.1rem;
    height: 3.5rem;
    overflow-y: auto;
}
.showtoast .showtoast-title{
  font-size: 0.18rem;
  color:black;
  padding:0.3rem 0;
  padding-top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: bold;
}

.showtoastcontainer .closeicon{
  text-align: right;
  font-size: 0.3rem;
  padding-right: 0.1rem;
  padding-top:0.05rem;
}

.showtoast .content ul{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.15rem;
}
.showtoast .content ul img{
  width:0.25rem;
  margin-right: 0.08rem;
}

.showtoast .content ul li{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.05rem;
}



/*.showtoastcontainer{
	position: fixed;
	top:0;left:0;bottom:0;right: 0;
	background:rgba(0,0,0,0.7);
	z-index:1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.showtoast{
		background: white;
		border-radius: 0.11rem;
		box-sizing: border-box;
		width:3rem;
		padding-bottom: 0.1rem;
		height: 3.5rem;
		overflow-y: auto;
}
.showtoast .showtoast-title{
	font-size: 0.18rem;
	color:black;
	padding:0.3rem 0;
	padding-top:0;
	display: flex;
	justify-content: center;
	align-items: center;
	color:black;
	font-weight: bold;
}

.showtoastcontainer .closeicon{
  text-align: right;
	font-size: 0.3rem;
	padding-right: 0.1rem;
	padding-top:0.05rem;
}

.showtoast .content ul{
	width:100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size: 0.15rem;
}
.showtoast .content ul img{
	width:0.25rem;
	margin-right: 0.08rem;
}

.showtoast .content ul li{
	width:50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.05rem;
}
*/
