body {
    background: #F5F5F5;
}

.order {
    padding: 0.15rem;
    background: white;
    margin: 0.15rem;
    border-radius: 0.06rem;
}

.orderinfo label{
    width:0.7rem;
}

.orderinfo label
 {
    font-size: 0.15rem;
    color: #0A1A27;
    margin-right: 0.04rem;
}

.orderinfo .ordertime span{
    color:#EE202F;
    font-size: 0.18rem;
}

.orderinfo .ordertime span strong{
    font-size: 0.13rem;
    font-weight: normal;
    margin-right: 0.02rem;
}

.orderinfo .ordernum,.orderinfo .ordertime{
    display: flex;
}

.orderinfo .ordertime{
    margin-top:0.25rem;
}

.orderinfo .ordernum div{
    display: inline-block;
    flex:1;
    font-size:0.15rem;
    color:#999;
    letter-spacing: 0.01rem;

}

.bottombanner img{
    width:100%;
}

.operatebtn{
    text-align: center;
}

.btn{
    width:1.7rem;
    font-size: 0.16rem;
    color: rgba(255, 255, 255, 1);
    height:0.4rem;
    margin-top:0.4rem;
    background:rgba(247,65,65,1);
    border-radius:0.1rem;
} 

.leaveword {
    display: flex;
    align-items: center;
    margin: 0 0.15rem;
    margin-top: 0.2rem;
    padding: 0 0.15rem;
    background: white;
}

.leaveword label {
    display: inline-block;
    width: 0.5rem;
    font-size: 0.14rem;
}

.leaveword input {
    border: none;
    flex: 1;
    margin: 0;
    font-size: 0.14rem;
    color: #999;
}



