body {
    background: #F5F5F5;
}

.order {
    padding: 0.15rem;
    background: white;
    margin: 0.15rem;
    border-radius: 0.06rem;
}

.orderdetail {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #F0F0F0;
}

.orderdetail .left{
    display: flex;
}

.orderdetail ul {
    padding-left: 0.1rem;
    box-sizing: border-box;
    width:1.7rem;
}

.orderdetail .goodstitle {
    font-size: 0.15rem;
    color: #0A1A27;
}

.orderdetail .gooodsnotice {
    font-size: 0.12rem;
    color: rgba(153, 153, 153, 1);
    margin: 0.06rem 0 0.08rem;
}

.orderdetail .ordernotice {
    display: flex;
    justify-content: space-between;
}

.orderdetail .ordernotice span:nth-child(1) {
    font-size: 0.18rem;
}

.orderdetail .ordernotice span:nth-child(2) {
    font-size: 0.13rem;
    color: #999;
}

.orderdetail img {
    width: 0.7rem;
    height: 0.7rem;
}

.orderdetail .extrainfo {
    font-size: 0.13rem;
    margin: 0.04rem 0 0.1rem;
}

.orderdetail .extrainfo strong {

    font-weight: 500;
    color: rgba(10, 26, 39, 1);
}

.orderdetail .extrainfo span {
    color: rgba(153, 153, 153, 1);
}

.countorder {
    font-size: 0.13rem;
    font-weight: 500;
    text-align: right;
    color: #999;
    margin-top: 0.1rem;
}

.countorder strong {
    font-size: 0.13rem;
    font-weight: normal;
    color: #999;
}

.countorder span:nth-child(3) {
    margin-left: 0.06rem;
    font-size: 0.18rem;
    color:#EE202F;
}

.countorder span:nth-child(2) {
    margin-left: 0.06rem;
}

.orderdetail div a {
    display: inline-block;
    color: #3698FD;
    font-size: 0.12rem;
    text-align: center;
    border: 1px solid #3698FD;
    padding: 0.02rem 0.08rem;
    border-radius: 0.1rem;
    line-height: 0.14rem;
    height: 0.2rem;
    margin-top: 0.12rem;
}

.order .ordertime {
    font-size: 0.13rem;
    color: rgba(153, 153, 153, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.13rem;
}

.order dl.ordertime label{
    vertical-align: middle;
    color:#0A1A27;
}

.order dl.ordertime span{
    vertical-align: middle;
    font-size: 0.12rem;
    color:#999;
    margin-left:0.06rem;
}

.order .ordertime dt img{
    width:0.2rem;
    height: 0.2rem;
    margin-right: 0.04rem;
}

.order .ordertime dd {
    font-size: 0.13rem;
    color: #FF942B;
}

.order .ordertime .mui-icon-minus{
    font-size: 0.15rem;
    margin-right: 0.01rem;
}

.order li.ordertime{
    margin-top:0.06rem;
}

h3{
    font-size:0.16rem;
    color:rgba(51,51,51,1);
    margin:0.15rem;
    border-left:0.04rem solid #FFA13C;
    padding-left:0.04rem;
    box-sizing: border-box;

}



