/* .merchantinfo{
    display:flex;
    flex-direction: column;
}


.merchantinfo .merchantinfo-content{
    flex:1;
}
.merchantinfo .merchantinfo-content .merchantinfo-content-right {
    position: absolute;
    top:0px;
    left:200px;
    right: 0px;
    bottom: 0px;
    background:#eef3f6;
    margin-left:0px;
}

.merchantinfo .merchantinfo-content .merchantinfo-content-left {
    position:static;
}*/

.merchantinfo .merchantinfo-content .merchantinfo-content-right .info-list{
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#passwordform{
    width:50%;
}
.merchantinfo-content .merchantinfo-content-right .info-list .control-label{
    color:#444444;
    margin-top:6px;
}
#passwordform .btn{
    width:100%;
}

