body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, p
{margin:0;padding:0;font-style:normal;} 
 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:middle;} 
body{color:#000000;background:#FFF;} 
.clear{clear:both;height:1px;width:100%; overflow:hidden; margin-top:-1px;} 
a,a:hover{color:#000000;text-decoration:none !important;} 
a:hover{text-decoration:none !important;}

.clearfixed::after{
    display:block; content:" "; height:0; clear:both; overflow:hidden; visibility:hidden;
}

.error-tip{
    color:red;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    height: 12px;
}

.amount-tip{
	color:#ed004a;
}

a.amount-tip-big{
	display:inline-block;
	color:#ed004a;
	font-size: 0.15rem;
}

input::-webkit-input-placeholder{
  color: #9ba9c6;
}

input::-moz-placeholder{
  color: #9ba9c6;
}

input:-ms-input-placeholder {
  color: #9ba9c6;
}

/* 点击a标签消除底色阴影 */

a:active{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:none; 
	background: none;
	text-decoration: none;
}

/*清除ie浏览器中输入框的清空标志*/

::-ms-clear,::-ms-reveal{display:none;}

/* 头部筛选的公共样式 */

.filter_text{
	width:100%;
	margin-top:0.3rem;
	display:flex;
	justify-content: space-between;
}
.filter_text p, .filter_text img{
	display: inline-block;
	vertical-align: bottom;
}
.filter_text img{
	width:0.24rem;
	height:0.24rem;
	margin-bottom: 0.16rem;
}

.filter_text p{
	width:91%;
	text-align: center;
	margin:0;
	padding-bottom:0.16rem;
	border-bottom:1px solid #C7D9FD;
	color:black;
	font-size: 0.18rem;
}

/* 完成按钮的颜色样式 */

.complete .mui-btn-primary{
	background:#4e59e2;
}

