.signUp .signUpForm label{
	display: inline-block;
	font-size: 0.15rem;
	color:rgb(51,51,51);
	width:0.5rem;
	text-align:justify;
	text-justify:distribute-all-lines;
	text-align-last:justify;
	margin-right: 0.12rem;
}

.signUp .signUpForm li:nth-child(1){
	margin-top:0.2rem;
}



.signUp .signUpForm input{
	display: inline-block;
	border:0.008rem solid rgb(51,51,51);
	width:2.1rem;
	height:0.4rem;
	outline:none;
	padding-left:0.1rem;
	box-sizing: border-box;
}

.signUp .explain{
	font-size: 0.14rem;
	color:rgb(153,153,153);
	/* padding-left:0.2rem;
	box-sizing:border-box; */
	text-align: center;
}

.mui-content .banner .goback{
	position: absolute;
    top: 0.45rem;
    left: 0;
    width: 0.75rem;
}

.showtoastcontainer1{
    position: fixed;
    top:0;left:0;bottom:0;right: 0;
    background:rgba(0,0,0,0.7);
		z-index:1000;
		display: none;
}
.showtoastcontainer1 .showtoast{
    border:0.1rem solid #5b4af8;
		border-radius: 0.11rem;
		box-sizing: border-box;
		background:#5b4af8;
		width:3.45rem;
		margin:0 auto;
		margin-top:16%;	
}
.showtoastcontainer1 .showtoast .showtoast-title{
	font-size: 0.16rem;
	color:white;
	padding:0.1rem 0;
}

.showtoastcontainer1 .showtoast ul{
	background:white;
	padding:0.1rem;
	border-radius: 0.1rem;
}

.showtoastcontainer1 .showtoast ul li{
	font-size:0.13rem;
	margin-top:0.05rem;
}
.showtoastcontainer1 .showtoast ul li:first-child{
	marign-top:0;
}
.showtoastcontainer1 .showtoast ul li span{
	vertical-align: top;
}
.showtoastcontainer1 .showtoast ul li span:nth-child(1){
	display:inline-block;
	width:0.13rem;
	height:0.13rem;
	border-radius: 50%;
	border:1px solid #4a68fc;
	color:#4a68fc;
	font-size:0.11rem;
	text-align: center;
	line-height: 0.13rem;
}

.showtoastcontainer1 .showtoast ul li span:nth-child(2){
	display:inline-block;
	width:2.75rem;
	line-height:0.17rem;
}
.showtoastcontainer1 .closeicon{
   text-align: center;
	 font-size: 0;
	 margin-top:0.3rem;
}
.showtoastcontainer1 .closeicon img{
  width:0.3rem;
}

.showtoast{
    border:0.1rem solid #5b4af8;
		border-radius: 0.11rem;
		box-sizing: border-box;
		background:white;
		width:2.8rem;
		margin:0 auto;
		margin-top:45%;
}

.showtoast .showtoastcontent{
  font-size:0;
	text-align: center;
}
.showtoast .showtoastcontent img{
  display:inline-block;
	width:1rem;
	margin:0.35rem 0 0.2rem;
}
.showtoast .showtoastcontent span{
  font-size:0.22rem;
}
.showtoast_footer{
  text-align: center;
	font-size:0;
	margin:0.55rem 0 0.2rem;
}
.showtoast_footer .confirm{
  border: none;
  outline: none;
	background:#5b4af8;
	color:white;
	width:2.35rem;
	height:0.4rem;
	border-radius: 0.2rem;
}
.showtoastcontainer .closeicon{
   text-align: center;
	 font-size: 0;
	 margin-top:0.3rem;
}
.showtoastcontainer .closeicon img{
  width:0.3rem;
}
.signUp .signUpForm li.error-tip{
	height:0.2rem;
	font-size: 0.12rem;
	margin:0;
	visibility: hidden;
}

.signUp .signUpForm li.error-tip span{
	width:2.1rem;
	text-align: left;
}

.signUp .signUpForm li.error-tip label,.signUp .signUpForm li.error-tip span{
	display: inline-block;
	height:0.2rem;
	vertical-align: middle;
}