body,html,div,ul,ul li,p,h2,h3,h4,ol,li,dl,dd,dt{
    list-style: none;
    padding: 0;
    margin: 0;
}
html{
    background:#edf3ff;
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
a{
    display:inline-block;
    text-decoration: none;
}

.bank-card-view{
    background:white;
    flex:1;
    width:100%;
    /* overflow:auto;内容区域可以滚动，底部固定屏幕的底部 。否则整个页面滚动，底部固定在整个页面的最底部*/
}

.bank-card-view ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.12rem;
}

.bank-card-view ul dl{
    width:50%;
    padding:0.1rem 0px;
    padding-left:0.3rem;
    box-sizing: border-box;
    border:1px solid #c7d9fd;
    border-left:none;
    border-top:none;
}
.bank-card-view ul li dl+dl{
    border-right: none;
}
.bank-card-view ul dt{
    width:0.32rem;
    height: 0.32rem;
    text-align: center;
}
.bank-card-view ul dt img{
    width:100%
}
.bank-card-view ul dt,.bank-card-view ul dd{
    display: inline-block;
    vertical-align: middle;
}

.bottombanner{
    width:100%;
    font-size:0px;
    margin-top:0.2rem;
    height: 1.04rem;
}
.bottombanner img{
    width:100%;
    display:block;
}
