.banner img{
	width:100%;
}

.introduce{
	height: 0.5rem;
	line-height: 0.5rem;
}
.item-container{
	
}
.item-container,.introduce{
	padding:0 0.1rem;
	box-sizing: border-box;
}

.item-list li{
	font-size:0.14rem;
	color:rgb(51,51,51);
	background:url(../img/personalcenter/rightarow@2x.png) no-repeat right center;
	background-size: 0.08rem 0.15rem;
	padding:0.1rem 0;
}

.item-list li+li{
	border-top:0.01rem solid #eee;
}

.item-list li span{
	display: inline-block;
	vertical-align: middle;
}
