body{
    background: #FFF;
}
.ui-slider {
	padding-top: 45%;
}
.app-list{
    font-size: 14px;
}
.app-list>ul>li>a{
    display: block;
    color: #000;
}
.app-list>ul>li.active:active {
	background-color: #e5e6e7
}
.app-list .ui-flex {
    border: 1px solid #ddd;
    min-height: 80px;
    margin-top: 10px;
}
.app-list .ui-col {
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    border: 0;
}
.app-list .ui-col img{
    width:40%;
}
.app-list li.disabled{
    color: #ddd;
    -webkit-filter: grayscale(1);/* Webkit */ 
    filter: grayscale(1);
}
.ui-tab-content>li{
    min-height: 300px;
}
.list-title{
    padding: 5px 10px;
    background: rgb(234, 234, 234);
    font-size: 14px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.bank-list .list-title>div{
    display: inline-block;
    width: 50%;
}
.bank-list .ui-list-img>span{
     background-origin:content;
     background-position:50% 50%;
     background-size:contain; 
     background-repeat:no-repeat; 
}
.bank-list>ul>li:active {
	background-color: #e5e6e7
}
 .bank-list .ui-list>li {
     margin-left: 0;
 }
 .bank-list .recommend {
    display: inline-block;
    font-size: 12px;
    color: #FFF;
    padding: 1px 5px;
    border-radius: 2px;
    vertical-align: text-bottom;
}
.recommend.divide{
    padding:1px 3px;
}
.bank-list .tag {
    display: inline-block;
    font-size: 12px;
    color: #ff8444;
    padding: 1px 3px;
    border-radius: 2px;
    vertical-align: text-bottom;
    border: 1px solid;
    margin-right: 2px;
}
#bank-list li{
    cursor:pointer 
}
@media screen and (max-width: 350px) {
    .ui-list-img {
        width: 80px;
    }
    .bank-list .tag {
        font-size: 10px;
    }
}